<style>h1,
summary {
    color: rgb(74, 42, 121);
    font-size: larger;
}

h4 {
    font-style: italic;
    line-height: 1.5cm;
    font-size: 0.5cm;
    color: rgb(206, 41, 110);
}

ul,
li,
dl {
    font-style: italic;
    font-weight: bold;
    color: rgb(28, 13, 51);
}

.short {
    color: rgb(206, 41, 110);
    font-style: italic;
}

body {
    font-size: 1rem;
    line-height: 1cm;
    padding: 3px;
}

h3 {
    text-decoration-line: underline;
    color: rgb(74, 42, 121);
}

table,
th,
td {
    border: solid rgb(121, 116, 90);
    border-collapse: collapse;
    padding: 10px;
}

</style>